{% extends 'base.html.twig' %}

{% block body %}
    <h1>Btw</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ btw.id }}</td>
            </tr>
            <tr>
                <th>Percentage</th>
                <td>{{ btw.percentage }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('btw_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('btw_edit', { 'id': btw.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
