{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
<div class="mt-5" style="margin: auto; width: 30%;">
    <div class="card" style="margin: auto">
        <article class="card-body">
            <a href="{{ path('fos_user_registration_register') }}" class="float-right btn btn-outline-primary">Registreer</a>
            <h4 class="card-title mb-4 mt-1">Log in</h4>
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <form action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}
                <div class="form-group">
                    <label for="username">{{ 'security.login.username'|trans }}</label>
                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
                </div> <!-- form-group// -->
                <div class="form-group">
                    <a class="float-right" href="{{ path('fos_user_resetting_request') }}">Wachtwoord vergeten?</a>
                    <label for="password">{{ 'security.login.password'|trans }}</label>
                    <input class="form-control" type="password" id="password" name="_password" required="required" autocomplete="current-password" />
                </div> <!-- form-group// -->
                <div class="form-group">
                    <div class="checkbox">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" /><label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                    </div> <!-- checkbox .// -->
                </div> <!-- form-group// -->
                <div class="form-group">
                    <input class="btn btn-primary btn-block" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                </div> <!-- form-group// -->
            </form>
        </article>
    </div> <!-- card.// -->

</div> <!-- col.// -->
{% endblock %}